textarea {
  display: block;
  min-width: 900px;
  resize: vertical;
}

.notes {
  margin-bottom: 10px;
}

.notes-page {
  padding: 15px;
}

.notes-trash {
  border: 0 !important;
  background-color: transparent !important;
  color: #8b0000;
  opacity: 0.8;
}

.notes-plus {
  border: 0 !important;
  padding-top: 3px;
  background-color: #1e90ff;
  color: white;
  opacity: 0.9;
}
